<section class="text-white">
  <h2 class="text-3xl px-20 pt-20">Detta är vad momondo ger dig.</h2>
  <ul class="inline-flex justify-around">
    <li class="p-5 m-5 w-1/4 border border-[#B175FF] rounded-xl">
      <fa-icon [icon]="faTag" size="3x"></fa-icon>
      <h3 class="text text-lg font-bold mt-2">Stora namn, större erbjudanden</h3>
      <p>Sök igenom hundratals resesidor för att jämföra priser.</p>
    </li>
    <li class="p-5 m-5 w-1/4 border border-[#B175FF] rounded-xl">
      <fa-icon [icon]="faRotateLeft" size="3x"></fa-icon>
      <h3 class="text text-lg font-bold mt-2">Boka med flexibilitet</h3>
      <p>Hitta flyg enkelt, utan ändringsavgifter.</p>
    </li>
    <li class="p-5 m-5 w-1/4 border border-[#B175FF] rounded-xl">
      <fa-icon [icon]="faLeaf" size="3x"></fa-icon>
      <h3 class="text text-lg font-bold mt-2">Res med mindre CO₂</h3>
      <p>Se dina resealternativs miljöpåverkan.</p>
    </li>
    <li class="p-5 m-5 w-1/4 border border-[#B175FF] rounded-xl">
      <fa-icon [icon]="faTrophy" size="3x"></fa-icon>
      <h3 class="text text-lg font-bold mt-2">Sveriges favorit</h3>
      <p>Sveriges bästa resesida enligt Travel News 2019 & 2020.</p>
    </li>
  </ul>
</section>
