<aside class="fixed z-50 bg-[#1D0837] pl-2 top-0 left-0 h-full w-20 hover:w-72 transition-all group flex flex-col items-start text-white border-r-[0.025rem] border-r-[#B175FF]">
  <div class="py-4 ml-5">
    <fa-icon class="cursor-pointer" [icon]="faBars" size="2x"></fa-icon>
  </div>
  <div class="cursor-pointer py-4 px-4 border-b-[0.025rem] border-b-[#B175FF] inline-flex hover:bg-[rgb(224,217,231)] hover:text-[#1D0837]">
    <fa-icon class="w-8" [icon]="faCircleUser" size="2x"></fa-icon>
    <p class="hidden group-hover:inline w-[10.5rem] ml-10 text-lg">Logga in</p>
  </div>
  <div class="cursor-pointer py-4 px-4 inline-flex hover:bg-[rgb(224,217,231)] hover:text-[#1D0837]">
    <fa-icon class="w-8" [icon]="faPlane" size="2x"></fa-icon>
    <p class="hidden group-hover:inline w-[10.5rem] ml-10 text-lg">Flyg</p>
  </div>
  <div class="cursor-pointer py-4 px-4 inline-flex hover:bg-[rgb(224,217,231)] hover:text-[#1D0837]">
    <fa-icon class="w-8" [icon]="faBed" size="2x"></fa-icon>
    <p class="hidden group-hover:inline w-[10.5rem] ml-10 text-lg">Boende</p>
  </div>
  <div class="cursor-pointer py-4 px-4 inline-flex hover:bg-[rgb(224,217,231)] hover:text-[#1D0837]">
    <fa-icon class="w-8" [icon]="faCar" size="2x"></fa-icon>
    <p class="hidden group-hover:inline w-[10.5rem] ml-10 text-lg">Hyrbil</p>
  </div>
  <div class="cursor-pointer py-4 px-4 border-b-[0.025rem] border-b-[#B175FF] inline-flex hover:bg-[rgb(224,217,231)] hover:text-[#1D0837]">
    <fa-icon class="w-8" [icon]="faTree" size="2x"></fa-icon>
    <p class="hidden group-hover:inline w-[10.5rem] ml-10 text-lg">Paketresor</p>
  </div>
  <div class="cursor-pointer py-4 px-4 inline-flex hover:bg-[rgb(224,217,231)] hover:text-[#1D0837]">
    <fa-icon class="w-8" [icon]="faGlobe" size="2x"></fa-icon>
    <p class="hidden group-hover:inline w-[10.5rem] ml-10 text-lg">Explore</p>
  </div>
  <div class="cursor-pointer py-4 px-4 border-b-[0.025rem] border-b-[#B175FF] inline-flex hover:bg-[rgb(224,217,231)] hover:text-[#1D0837]">
    <fa-icon class="w-8" [icon]="faShieldHeart" size="2x"></fa-icon>
    <p class="hidden group-hover:inline w-[10.5rem] ml-10 text-lg">Reserestriktioner</p>
  </div>
  <div class="cursor-pointer py-4 px-4 border-b-[0.025rem] border-b-[#B175FF] inline-flex hover:bg-[rgb(224,217,231)] hover:text-[#1D0837]">
    <fa-icon class="w-8" [icon]="faCalendarCheck" size="2x"></fa-icon>
    <p class="hidden group-hover:inline w-[10.5rem] ml-10 text-lg">Feedback</p>
  </div>
</aside>