<header class="fixed top-0 left-20 w-[94.5%] bg-[#1D0837] flex justify-between items-center text-white h-16 border-b-[0.025rem] border-b-[#B175FF]">
  <h1 class="text-2xl px-10">
    <a routerLink="/">
      <span class="text-blue-600 font-bold">mo</span><span class="text-pink-600 font-bold">mon</span><span class="text-orange-600 font-bold">do</span>
    </a>
  </h1>
  <button routerLink="/login" class="flex items-center border rounded border-white py-2 px-4 mr-10 hover:bg-[rgb(224,217,231)] hover:text-[#1D0837]">
    <fa-icon class="w-8" [icon]="faCircleUser" size="1x"></fa-icon>
    <span class="mx-2">
      Logga in
    </span>
  </button>
</header>
