<main class="ml-20 mt-20 text-white">
  <h2 class="text-xl text-center p-10">Login</h2>
  <form class="flex flex-col w-1/4 mx-auto">
    <label class="" for="email">Email</label>
    <input class="p-3 rounded" type="text" name="email" placeholder="email" />
    <label for="password">Password</label>
    <input class="p-3 rounded" type="password" name="password" placeholder="password" />
    <input class="border rounded border-white p-3 mt-3 bg-red-400 hover:opacity-80 cursor-pointer" type="submit" value="Loggain">
  </form>
  <h2 class="text-xl text-center p-10">SignUp</h2>
  <form class="flex flex-col w-1/4 mx-auto">
    <label class="" for="name">Name</label>
    <input class="p-3 rounded" type="text" name="name" placeholder="name" />
    <label class="" for="lastName">Last Name</label>
    <input class="p-3 rounded" type="text" name="lastName" placeholder="last name" />
    <label class="" for="email">Email</label>
    <input class="p-3 rounded" type="text" name="email" placeholder="email" />
    <label for="password">Password</label>
    <input class="p-3 rounded" type="password" name="password" placeholder="password" />
    <input class="border rounded border-white p-3 mt-3 bg-red-400 hover:opacity-80 cursor-pointer" type="submit" value="SignUp">

  </form>
</main>