<form (ngSubmit)="onSubmit()" [ngClass]="formStyle">
  <div [ngClass]="formInputs">
    <select [ngClass]="selectCity" name="departureDestination" [(ngModel)]="departureDestination" required>
      <option value="" selected disabled>From:</option>
      <option value="Stockholm">Stockholm</option>
      <option value="Amsterdam">Amsterdam</option>
      <option value="Oslo">Oslo</option>
    </select>
    <select [ngClass]="selectCity" name="arrivalDestination" [(ngModel)]="arrivalDestination" required>
      <option value="" selected disabled>To:</option>
      <option value="Amsterdam">Amsterdam</option>
      <option value="Stockholm">Stockholm</option>
      <option value="Oslo">Oslo</option>
    </select>
    <input [ngClass]="selectDate" type="date" placeholder="Nar tur" name="departureAt" [(ngModel)]="departureAt" />
    <input [ngClass]="selectDate" type="date" placeholder="Nar retur" name="arrivalAt" [(ngModel)]="arrivalAt"/>
  </div>
  <input [ngClass]="formSubmitBtn" type="submit" value="Sök">
</form>

